{{ define "main" }}
{{- $pages := where site.RegularPages "Type" "post" -}}
{{- $paginator := .Paginate $pages 5 -}}
<main class="container">
  <div class="posts">
    {{- range $paginator.Pages -}}
    <div class="post">
      <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>
      {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{- $dateHuman := .Date | time.Format ":date_long" -}}
      <time class="post-date"
            datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <div class="post-summary">
        {{ .Summary }}
      </div>
      <div class="mt-3 mb-5 fw-bolder">
        <a href="{{ .RelPermalink }}">Continue reading →</a>
      </div>
    </div>
    <hr />
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</main>
{{ end }}
